.ct-tooltip { position: relative; cursor: pointer; display: inline-block; }
.ct-tooltip-text {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.15s ease;
	white-space: nowrap;
	background: #333;
	color: #fff;
	padding: 0.5rem;
	border-radius: 0.25rem;
	position: absolute;
	z-index: 1000;
	bottom: calc(100% + 8px);
	left: 50%;
	transform: translateX(-50%);
}
.ct-tooltip:hover .ct-tooltip-text,
.ct-tooltip:focus-within .ct-tooltip-text { visibility: visible; opacity: 1; }